{% extends 'myapp/parent.html' %}

{% block title %}
    Product Create | {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{% url 'product_create_url' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div>
                {{ field.label }}
                {{ field }}

                {% if field.errors %}
                    <div>{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit">Create product</button>
    </form>

{% endblock %}